/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.guitar {
  @apply relative w-48 h-96 bg-brown;
}

.neck {
  @apply absolute top-0 left-1/2 w-2.5 h-full bg-darkbrown;
}

.string {
  @apply absolute left-1/2 w-0.5 h-72 bg-silver;
  animation: none;
}

#string1 { top: 12.5%; }
#string2 { top: 25%; }
#string3 { top: 37.5%; }
#string4 { top: 50%; }

@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.vibrate {
  animation: vibrate 0.5s;
}